


.header {
  background-color: rgb(0, 0, 0);
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */

}




.slogan-container {
  width: 100%;
  text-align: center;

}

.slogan {
  color: white; /* Adjust the color as needed */
  font-size: 1.5rem; /* Adjust the font size as needed */
}
